@import "../../mixins.scss";

.personal {
  @include on-desktop {
    width: 450px;
  }

  &__title {
    color: #022959;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 9px;

    @include on-desktop {
      font-size: 32px;
      margin-bottom: 11px;
    }
  }

  &__description {
    color: var(--Grey, #9699aa);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 22px;

    @include on-desktop {
      margin-bottom: 35px;
    }
  }

  &__label {
    color: #022959;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 3px;

    @include on-desktop {
      gap: 8px;
    }
  }

  &__label:not(:last-child) {
    margin-bottom: 16px;

    @include on-desktop {
      margin-bottom: 24px;
    }
  }

  &__input {
    padding: 11px 16px;
    border: 1px solid #d6d9e6;
    border-radius: 4px;
  }
}
