@import "../../mixins.scss";

.finish {
  @include on-desktop {
    width: 450px;
  }

  &__icon {
    margin: 0 auto;
    width: 56px;
    height: 56px;
    margin-bottom: 24px;

    @include on-desktop {
      margin-bottom: 32px;
    }
  }

  &__title {
    @include form-title;

    text-align: center;
  }

  &__description {
    @include form-description;

    text-align: center;
  }
}
